.wrapper {
  position: relative;
  width: 400px;
  height: 300px;
  overflow: hidden;
}

.hole {
  content: '';
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid grey;
  border-radius: 50%;
  box-shadow: 0 0 0 1000px rgba(100, 100, 100, 0.6);
}
